/*fonts*/

.coral-pixels-regular {
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
  }
  .bytesized-regular {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* <weight>: Use a value from 100 to 1000
 <uniquifier>: Use a unique and descriptive class name */

 .dm-sans-dune {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


/* Basic reset */
body, h1, h2, a, div, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    box-sizing: border-box;
    padding: 1%;
}

p{
    
    font-family:"Bytesized", sans-serif ;
    text-align: left;
    font-size: 1.20em;
    color: #fff;
    box-sizing: border-box;
    padding: 3%;
}

/* Body setup */
body {
    background-color: #000000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
}

.image_wrapper {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    margin-top: 20px;
    max-width: 300px;
    border: #fff 3px solid;
}
.image_wrapper_black {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    margin-top: 20px;
    max-width: 300px;
    border: #000000 3px solid;
}

.dune1 {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: block;
    margin: 0px auto;

}

.dune2 {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: block;
    margin: 0px auto;

}

.transition{
    height: 300px;
    background:url('./Booksite/dithered-image\ \(3\).png') repeat;
}


.h1_black{
    color : #000;
}
.book2 {
    background-color: #fff;
    padding-bottom: 30px;
}