/* Basic reset */
body, h1, h2, p, a, div, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

p{
    font-size: 1.25em;
    color: #fff;
}

/* Body setup */
body {
    background: url('Graphics/15895-v4.jpg') repeat;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

hr{
    border: 0;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    width: 100%;
}

hr{
    border: 0;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    width: 100%;
}

.main_gif{
    margin-top: 20px;
    height: 77px;
    width: 77px;
}
/* social 1 */
.social_window{
    padding: 5px;
    margin: 5%;
    border: 2px solid #fff;
    background-color: #000000cd;
}

.social_window_header{
    white-space: nowrap;
    display: inline-block;
    text-align: left;
    padding-left: 3px;
    width: 100%;
    background-color: #1c6d03;
}
.social_window_header *{

    display: inline-block;

}

.social_window_header h1{
    font-size: 1.25em;
    color: #fff;
    margin: 0;
}

.gif_1{
    align-self: center;
    position: relative;
    top: 0px;
    padding-top: 0;
    width: 2em;
    height: 2em;
}

.close_button{
    padding: 2px 5px ; 

    text-decoration: none;
    position: relative;
    top: 5px;
    float: right;
    color : #fff;
    background-color: #000000;
    border: 0.5px solid #fff;
    border-top: 2.5px solid #fff;
    margin: 5px;

}
.toggle_button{
    padding: 2px 5px ; 

    text-decoration: none;
    position: relative;
    top: 5px;
    float: right;
    color : #fff;
    background-color: #000000;
    border: 0.5px solid #fff;
    border-top: 2.5px solid #fff;
    margin: 5px;

}

/* Hide the checkbox visually */
.checkbox {
    display: none;
}

/* Style the menu content */
.social_window_content {
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}


.checkbox:checked ~ .social_window_content {
    visibility: visible;
    max-height: 1000px; /* Adjust this value as needed */
    transition: max-height 0.5s ease-in;
    
}

/*social 2 */

.social_window_2{
    padding: 5px;
    margin: 5%;
    border: 2px solid #fff;
    background-color: #000000cd;
}

.social_window_header_2{
    white-space: nowrap;
    display: inline-block;
    text-align: left;
    padding-left: 3px;
    width: 100%;
    background-color: #6d0303;
}
.social_window_header_2 *{

    display: inline-block;

}

.social_window_header_2 h1{
    font-size: 1.25em;
    color: #fff;
    margin: 0;
}

.gif_2{
    align-self: center;
    position: relative;
    top: 0px;
    padding-top: 0;
    width: 2em;
    height: 2em;
}

.close_button{
    padding: 2px 5px ; 

    text-decoration: none;
    position: relative;
    top: 5px;
    float: right;
    color : #fff;
    background-color: #000000;
    border: 0.5px solid #fff;
    border-top: 2.5px solid #fff;
    margin: 5px;

}
.toggle_button_2{
    padding: 2px 5px ; 

    text-decoration: none;
    position: relative;
    top: 5px;
    float: right;
    color : #fff;
    background-color: #000000;
    border: 0.5px solid #fff;
    border-top: 2.5px solid #fff;
    margin: 5px;

}

/* Hide the checkbox visually */
.checkbox2 {
    display: none;
}

/* Style the menu content */
.social_window_content_2 {
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}


.checkbox2:checked ~ .social_window_content_2 {
    visibility: visible;
    max-height: 1000px; /* Adjust this value as needed */
    transition: max-height 0.5s ease-in;
    
}



